POSTGRES_USER=castelia
POSTGRES_PASSWORD=password
POSTGRES_DB=castelia

DATABASE_URL="postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:5432/${POSTGRES_DB}"
ENCRYPTION_KEY=generate_this_with_openssl_rand_base64_32

AUTH_URL="http://localhost:3000"
