name: CI

env:
  CARGO_TERM_COLOR: always

on:
  pull_request:
    branches: ["main"]
  push:
    branches: ["main"]

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@stable
      - run: cargo build --all-features

  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@stable
      - run: cargo test --all-features

  lint:
      name: Lint
      runs-on: ubuntu-24.04
      steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@beta
        with:
          components: clippy
      - name: Run clippy
        run: cargo clippy --all-targets --all-features -- -D warnings

  format:
      name: Format
      runs-on: ubuntu-24.04
      steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@beta
        with:
          components: rustfmt
      - name: Run rustfmt
        run: cargo fmt --all --check
